<h1>Audits Dashboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Employee
      </th>
      <th>
        Week Start Date
      </th>
      <th>
        Confirmed at
      </th>
      <th>
        Status
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @audit_logs %>
  </tbody>
</table>

<%= paginate @audit_logs %>
