<div class="container-fluid">
  <div class="row">
    <% if @pending_audit_confirmations.count > 0 %>
      <div class="pending-posts employee-blocks">
        <h3>Your Pending Audit Confirmations</h3>
        <% @pending_audit_confirmations.each do |pending_audit_confirmation| %>
          <%= link_to "I confirm that I haven't done any overtime between '#{pending_audit_confirmation.start_date}' and '#{pending_audit_confirmation.start_date.end_of_week}'", confirm_audit_log_path(pending_audit_confirmation), class: 'btn btn-primary btn-block btn-lg btn-for-emplyoee', id: "#{pending_audit_confirmation.id}_confirm", data: { confirm: 'Confirming this means you have no overtime in the mentioned days. Are you sure on confirming this?' } %>
        <% end %>
      </div>
    <% end %>

    <div class="pending-posts employee-blocks">
      <h3>Request Overtime</h3>
      <%= link_to 'Add Overtime Request', new_request_path, class: "btn btn-primary btn-block btn-lg"  %>
    </div>
  </div>
</div>
