<h1>All Requests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Employee
      </th>
      <th>
        Date
      </th>
      <th>
        Requested Hours
      </th>
      <th>
        Reason
      </th>
      <th>
        Status
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="requests">
    <%= render @requests %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @requests, remote: true %>
</div>
