@import "bootstrap-sprockets";
@import "bootstrap";
@import "requests.scss";
@import "gritter";
@import "bourbon";
@import "audit_logs";
@import "welcome.scss";

@font-face {
  font-family: "Avenir Next Rounded Pro";
  src: url('/assets/avenir-next-rounded-pro-medium.otf');
}

body {
  font-family: "Avenir Next Rounded Pro";
}

.custom-nav {
  margin-top: 20px;
}

.btn-for-emplyoee {
  white-space: normal !important;
}
