.pending-posts {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e1eef6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}

.request_approvals {
  .welcome-page-block {
    background-color: #252c41;
    &:hover {
      background-color: #364e96;
    }
  }
}
.audit_submissions {
  .welcome-page-block {
    background-color: #311e3e;
    &:hover {
      background-color: #87314e;
    }
  }
}

.welcome-page-block {
  color: white;
  margin: 10px 45px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.post-details {
  font-weight: 700;
}

.employee-blocks {
  margin-top: 45px;
  margin-bottom: 45px;
}
