.pending-posts {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e1eef6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}

.approvals {
  .welcome-page-block {
    background-color: #87314e;
  }
}
.submissions {
  .welcome-page-block {
    background-color: #311e3e;
  }
}

.welcome-page-block {
  color: white;
  margin: 15px;
  padding: 15px;
}
